html {
	background-color:#929292;		
}

h1 {
	background-color:#65a7d2;		
}

section {
	border: 2px solid grey;
	background-color:#eeeeee;
}

img {
	border: 1px solid grey;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
	display: block;
	margin-left: auto;
	margin-left: auto;
}