html {
	background-color:#929292;		
}

h1 {
	background-color:#65a7d2;		
}

section {
	border: 2px solid grey;
	background-color:#eeeeee;
}

img {
	border: 1px solid grey;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
	border: 50px solid #65a7d2;
	text-align:center;
	width:100%;
	font-size:200%;
}

th {
	font-size:250%;
	}

td {
	width:50%;
	}

.attention {
	background-color:#ddcfe1;
	}
	
.amuse {
	background-color:#FFFF99;
	}
	
.nicknames {
	background-color:#CCFF99
	}